<section class="hero">
    <div class="hero-content">
        <span><b>FORÇA QUE MOVE O AMANHÃ</b></span>

        <h2>
        Energia e sustentabilidade <br>
        para um planeta <br>
        sempre ativo <br>
        </h2>

        <p>
        Com sólida atuação no setor de óleo e gás,
        integramos conhecimento técnico de alta performance
        a investimentos estratégicos inovações e sustentabilidade,
        promovendo energia segura, eficiente e de longo prazo.
        </p>

        <a routerLink="/solucoes" class="primary-btn">
    Ver soluções
        </a>

        <a [routerLink]="['/servico', 1]" class="primary-btn">
     Saiba Mais
        </a>
        </div>
</section>


